<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Code Evaluator</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.16/dist/tailwind.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.58.1/codemirror.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.58.1/theme/base16-light.min.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.58.1/codemirror.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.58.1/mode/python/python.min.js"></script>
    <link href="../static/style.css" rel="stylesheet">
</head>
<body class="full-screen">
<div class="container mx-auto p-8">

    <div class="flex items-center justify-between mb-4">
        <h1 class="text-2xl font-semibold">Code_Evaluator<span class="text-gray-400 text-md">/Python</span></h1>
        <a class="bg-green-500 text-white py-2 px-4 rounded-full hover:bg-green-600 focus:outline-none focus:ring focus:border-green-300"
           href="post-assignment"
           id="create-assignment-btn">
            <i class="fas fa-plus-circle mr-2"></i>Create Assignment
        </a>
    </div>

    <div class="flex flex-col md:flex-row space-y-4 md:space-y-0">

        <div class="input-column w-full md:w-1/2">
            <form class="space-y-4" id="code-form">
                <div>
                    <label class="block text-gray-700 font-medium mb-2" for="code"><i class="fas fa-code"></i> Enter
                        Python Code:</label>
                    <textarea
                            class="w-full h-40 px-4 py-2 border rounded-lg focus:outline-none focus:ring focus:border-blue-300"
                            id="code"
                            name="code"
                            placeholder="Enter Python code here..."></textarea>
                </div>
                <div class="flex items-center space-x-2">
                    <label class="block text-gray-700 font-medium" for="file-input"><i class="fas fa-file"></i> Upload
                        Expected Output (optional):</label>
                    <input accept=".txt"
                           class="w-full md:w-auto px-4 py-2 border rounded-lg focus:outline-none focus:ring focus:border-blue-300"
                           id="file-input"
                           type="file">
                    <button class="bg-red-500 text-white py-2 px-4 rounded hover:bg-red-600 focus:outline-none focus:ring focus:border-red-300"
                            id="clear-file-btn"
                            style="border-radius: 10px;"
                            type="button">
                        <i class="fas fa-times"></i>
                    </button>
                </div>
                <textarea class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring focus:border-blue-300"
                          id="expected-output" name="expected_output"
                          placeholder="Expected output..."
                          required>{% if expected_output is not none %}{{ expected_output }}{% endif %}</textarea>
                <div class="flex items-center">
                    <button class="bg-blue-500 text-white py-2 px-4 rounded hover:bg-blue-600 focus:outline-none focus:ring focus:border-blue-300"
                            id="evaluate-btn"
                            style="border-radius: 12px;"
                            type="submit">
                        <i class="fas fa-play mr-2"></i>Evaluate Code
                    </button>
                </div>
            </form>
        </div>

        <div class="result-column w-full md:w-1/2" id="result">
            <div class="m-4">
                <h2 class="text-xl font-semibold mb-4">No code evaluated yet.</h2>
                <p class="text-gray-500">Enter some code, write the expected output or upload a file, and click the
                    <strong>Evaluate Code</strong> button to evaluate your code.</p>
                <div class="ml-4 loader hidden" id="loader"></div>
            </div>
        </div>
    </div>
    {% if assigment_description is not none and assigment_timestamp is not none %}
    <div class="bg-white rounded-lg overflow-hidden mt-6" style="border: 1px solid #e2e8f0;">
        <div class="px-6 py-8">
            <div class="flex items-center mb-4 text-gray-800">
                <i class="fas fa-file-alt text-3xl mr-6"></i>
                <p class="text-lg leading-relaxed">{{ assigment_description }}</p>
            </div>
        </div>
        <div class="px-6 py-4 bg-gray-100 text-gray-600">
            <div class="flex items-center">
                <i class="far fa-clock text-lg mr-2"></i>
                <p class="text-lg" id="timestamp">{{ assigment_timestamp }}</p>
            </div>
        </div>
    </div>

    <script>
        var timestamp = "{{ assigment_timestamp }}";
        var timeDifference = Math.floor((new Date() - new Date(timestamp)) / (1000 * 60 * 60 * 24));
        var timestampElement = document.getElementById("timestamp");
        if (timeDifference < 1) {
            timestampElement.textContent = "Today";
        } else if (timeDifference === 1) {
            timestampElement.textContent = "1 day ago";
        } else if (timeDifference <= 30) {
            timestampElement.textContent = timeDifference + " days ago";
        } else if (timeDifference <= 365) {
            var monthsAgo = Math.floor(timeDifference / 30);
            timestampElement.textContent = monthsAgo + " months ago";
        } else {
            var yearsAgo = Math.floor(timeDifference / 365);
            timestampElement.textContent = yearsAgo + " years ago";
        }
    </script>
    {% endif %}
</div>
<script src="../static/script.js"></script>
</body>
</html>
